/*************/
/* variables */
/*************/

:root {
    --spacer: 1rem;
}

/****************/
/* an AOK reset */
/****************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
fieldset {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

ol[class],
ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  background: none;
}

html {
    font-size: 100%;
}

body {
    font-family: sans-serif;
  line-height: 1.5;
}

/*******************/
/* utility classes */
/*******************/

.flow-content > * + * {
  margin-top: var(--spacer);
}

.container {
  padding: 0 var(--spacer);
  max-width: 50rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/**********/
/* layout */
/**********/

/* mobile first */

#stats {
  border: 2px black solid;
  display: grid;
}

.stat {
  border: 1px grey dashed;
  min-width: 20rem;
  padding: 0.5rem;
}

/**********/
/* styles */
/**********/

#roll-all-stats {
  border: 1px solid black;
  padding: 0.5rem;
}

.stat-roll {
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.25rem 1.25rem;
  font-weight: 700;
}

.stat-roll:disabled {
  border: 2px solid lightgray;
  color: lightgray;
  font-weight: 700;
}

.stat-header {
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.roll-total {
  /* margin-top: 1rem; */
}

.dropped-roll {
  color: maroon;
  text-decoration: line-through;
}