/*************/
/* variables */
/*************/

:root {
    --spacer: 1rem;
}

/****************/
/* an AOK reset */
/****************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
fieldset {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ol[class],
ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  background: none;
}

html {
    font-size: 100%;
  }
  
  body {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
}

/*******************/
/* utility classes */
/*******************/

.flow-content > * + * {
  margin-top: var(--spacer);
}

.container {
  padding: 0 var(--spacer);
  max-width: 50rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/**********/
/* layout */
/**********/

/* MOBILE */
@media (max-width: 430px) {
  .stat {
    max-width: 100%;
  }
}

/* TABLET */
@media (max-width: 815px)  {
  h1 {
    text-align: center;
  }
}

header {
  margin-top: 3rem;
}

#stats {
  margin: 3rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stat {
  min-width: 22rem;
  border: 3px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/**********/
/* styles */
/**********/


.stat-header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dropped-roll {
  color: #E76E56;
  text-decoration: line-through;
}

.roll-total {
  color: grey;
  margin-left: 1rem;
}

.roll-total-green {
  color: #4AA52E;
}